@model labelPrint.Models.siixsem_models_t

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>siixsem_models_t</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.se_id_model)

        <div class="form-group">
            @Html.LabelFor(model => model.se_description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_id_family, "se_id_family", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("se_id_family", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.se_id_family, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_is_special, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_is_special, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_is_special, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_valid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_valid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_valid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_serial_continuos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_serial_continuos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_serial_continuos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_two_led, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_two_led, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_two_led, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_dfc_ifc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_dfc_ifc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_dfc_ifc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_four_sides, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_four_sides, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_four_sides, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_cover_frame, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_cover_frame, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_cover_frame, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_num_pcb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_num_pcb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_num_pcb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_laser_mark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_laser_mark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_laser_mark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_has_panelLbl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_has_panelLbl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_has_panelLbl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se_is_ldm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se_is_ldm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.se_is_ldm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
