@model labelPrint.Models.siixsem_lblTemplates_t

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>siixsem_lblTemplates_t</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.siixsem_datamatrix_t.se_id_dm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siixsem_datamatrix_t.se_id_dm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siixsem_lblZPL_t.se_str_zpl_one)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siixsem_lblZPL_t.se_str_zpl_one)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.se_id_label }) |
    @Html.ActionLink("Back to List", "Index")
</p>
