@model IEnumerable<labelPrint.Models.siixsem_datamatrix_t>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.siixsem_densities_t.se_id_density)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siixsem_lblSizes_t.se_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.siixsem_densities_t.se_id_density)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siixsem_lblSizes_t.se_description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.se_id_dm }) |
            @Html.ActionLink("Details", "Details", new { id=item.se_id_dm }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.se_id_dm })
        </td>
    </tr>
}

</table>
