@model labelPrint.Models.siixsem_VoltsModel_led2_td

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>siixsem_VoltsModel_led2_td</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.siixsem_models_t.se_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siixsem_models_t.se_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siixsem_voltageb_t.se_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siixsem_voltageb_t.se_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.se_id_detail }) |
    @Html.ActionLink("Back to List", "Index")
</p>
