@model IEnumerable<labelPrint.Models.siixsem_colorsb_td>

@{
    ViewBag.Title = "Index";
}

<div class="window" style="margin-top:70px;width:70%;">
    <div class="window-title">ETIQUETAS / LABELS</div>
    <div class="window-content">
        <div class="well" style="font-size:14px;font-family:pt_sansr;background-color:white;">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table" id="tblColors">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Color</th>
                        <th>Label tag</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.siixsem_models_t.se_description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.siixsem_colorb_t.se_description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.siixsem_lblTagColor_t.se_lblTag)
                            </td>


                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.se_id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.se_id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.se_id })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //loadLoginDlg();
            $('#tblColors').DataTable({
                "paging": true,
                //"order": [[0, "asc"]],
                "recordsFiltered": 10,
                "lengthChange": false,
                "searching": true,
                "pageLength": 5,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                'language': { 'url': getVirtDir() + '/Scripts/Spanish.json' }
            });
            //$("#btnNewModel").click(function () {
            //    getDlgCreateFlux();
            //});
            //$(".edit").html("<span class='glyphicon glyphicon-pencil' style='margin:0;'></span>");
            //$(".delete").html("<span class='glyphicon glyphicon-trash' style='margin:0;'></span>");
            //$(".det").html("<span class='glyphicon glyphicon-list-alt' style='margin:0;'></span>");
        });
    </script>
}