@model labelPrint.Models.siixsem_VoltsModel_td

@{
    ViewBag.Title = "Create";
}
<div class="window-title" style="margin-top:70px; width:40%;margin-left:auto;margin-right:auto;">Add Voltage</div>
<div class="window-content" style="width:40%;background-image:none;background-color:transparent;margin-left:auto;margin-right:auto;padding:0px;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="well" style="background-color:gray;">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.se_id_model, "Modelo", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("se_id_model", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.se_id_model, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.se_id_volt, "Voltage", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("se_id_volt", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.se_id_volt, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div>
                @*<div class="form-group" style="float:right;margin-right:20px;">
            <input type="button" value="Add Side" class="btn btn-success" id="btnSaveFlux" />
            <input type="button" value="Next" class="btn btn-success" id="btnNext" />
        </div>*@
            </div>
            </div>
            <div class="form-group" style="float:right;margin-right:20px;">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <div style="clear:both;"></div>


        }
    </div>
    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
<script type="text/javascript">
        $(document).ready(function () {
            createSelect("#se_id_model");
            createSelect("#se_id_volt");
            //$("#btnSaveFlux").click(function () {
            //    insertFluxModel();
            //});
        });
</script>
