@model labelPrint.Models.siixsem_lblModels_td

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>siixsem_lblModels_td</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.se_id_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.se_id_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siixsem_lblTemplates_t.se_id_label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siixsem_lblTemplates_t.se_id_label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.se_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
