@model IEnumerable<labelPrint.Models.siixseem_event_log>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.se_id_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.se_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.se_date_event)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siixseem_events_t.se_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siixsem_lblModel_spec_td.se_id_spec)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.se_id_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.se_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.se_date_event)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siixseem_events_t.se_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siixsem_lblModel_spec_td.se_id_spec)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.se_id_log }) |
            @Html.ActionLink("Details", "Details", new { id=item.se_id_log }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.se_id_log })
        </td>
    </tr>
}

</table>
