@model labelPrint.Models.siixsem_flxb_t

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>siixsem_flxb_t</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.se_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.se_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.se_flx_lbl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.se_flx_lbl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.se_id_fb }) |
    @Html.ActionLink("Back to List", "Index")
</p>
